<!doctype html>
<html>
  
  <head>
    <title>Sneaker Collector - My Portfolio</title>
  </head>
  
  <body>
    
    <h1>My Portfolio</h1>
    
  <div class="nav">
  <a class="active" href="/user/home/<%=current_user.id%>">Home</a><br><br>
  <a href="/leaderboard">User Portfolios</a><br><br>
  </div>
    
    <table>
      <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      tr:hover {
        background-color: #f5f5f5;
      }
    </style>
    <tr>
      <th>Manufacturer</th>
      <th>US Size</th>
      <th>Model</th>
      <th>Colorway</th>
      <th>Estimated Value</th>
      <th>Condition</th>
      <th>Notes</th>
    </tr>

    <% current_user.sneakers.each do |sneaker| %>
  <a href="/portfolio/sneakers/<%= sneaker.id %>/edit">
<tr onclick="window.location='/portfolio/sneakers/<%= sneaker.id %>/edit'">
   <td><%= sneaker.manufacturer %></td>
   <td><%= sneaker.size_us %></td>
   <td><%= sneaker.model %></td>
   <td><%= sneaker.colorway %></td>
   <td>$<%= sneaker.est_value %></td>
   <td><%= sneaker.condition %></td>
   <td><%= sneaker.notes %></td>
</tr>
</a>
<% end %>
    </table>

    <form action="/sneakers/new">
    <input type="submit" value="Add Sneaker"/>
</form>
    
    
    
    
  </body>
  
</html>