<!doctype html>
<html>
  
  <head>
    <title>Sneaker Collector - User Portfolios</title>
  </head>
  
  <body>
    
    <h1>User Portfolios</h1>
    
  <div class="nav">
  <a class="active" href="/user/home/<%=current_user.id%>">Home</a><br><br>
  <a href="/portfolio/<%= current_user.id %>">My Portfolio</a><br><br>
  </div>
  
    <table>
      <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      tr:hover {
        background-color: #f5f5f5;
      }
      </style>
        <th>Name</th>
        <th>Total Shoes</th>
        <th>Portfolio Value</th>
      <tr>
        <% User.all.each do |user| %>
        <td><%= user.first_name %></td>
        <td><%= user.sneakers.length %></td>
        <td>$<%= user.sneakers.sum {|sneaker| sneaker.est_value} %></td>
      </tr>
      <% end %>
    </table>
  
  </body>
  
</html>